.nav {
    /* background-color: bisque; */
    display: flex;
}

.nav-center {
    display: flex;
    margin: 0 auto;
    width: 300px;
    justify-content: space-around;
}

.nav-center li a{
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
}