{% extends 'base.html.twig' %}

{% block title "Dans la catégorie : " ~ category.name %}

{% block body %}

<div class="mt-5">

    <tr>
        <td>
            <div class="d-flex gap-1">
               <strong> <h2>Nos plats dans cette catégorie.</h2> </strong>   
            </div>
        </td>
        {# Boucle sur la collection de recettes #}
    {% for recipe in recipes %}
    <div class="d-flex gap-1 mt-3">
        <a href="{{ path('recipe.detail', {'slug': recipe.slug }) }}">{{ recipe.title | nl2br }}</a>
    </div>
{% else %}
    <p>Aucune recette n'est disponible dans cette catégorie.</p>
{% endfor %}
    </tr>

</div>

{% endblock %}
