{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

<div class="mt-5">

    {% for category in categories %}

    <tr>
        <td>
            <div class="d-flex gap-1 small-width">
                <a href="{{ path('category.detail', {'slug': category.slug}) }}">{{ category.name | nl2br }}</a>
            </div>
        </td>
    </tr>

    {% endfor %}

</div>

{% endblock %}
