{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}

<h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Voici mes recettes</h1>

<div class="pasta-container" style="display: flex; flex-direction: column">
    <a href="">Pate Bolo</a>
    <a href="">Pate Carbo</a>
    <a href="">Pate Pesto</a>
</div>

{% endblock %}
