{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}

<h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Voici mes recettes</h1>

<div class="pasta-container" style="display: flex; flex-direction: column">

    <ul>
        <li>
            <a href="{{ path('recipe.show', {id: 32, slug: 'pate-bolognaise'}) }}">Pate Bolo</a>
        </li>
        <li>
            <a href="">Pate Carbo</a>
        </li>
        <li>
            <a href="">Pate Pesto</a>
        </li>
    </ul>

</div>

{% endblock %}
