{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}

<h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Voici mes recettes</h1>

<div class="pasta-container" style="display: flex; flex-direction: column">

    <ul>
        {% for recipe in recipes %}
        <li>
            <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{recipe.title}}</a>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
