{% extends 'base.html.twig' %}

{# Simplification d'un bloc twig, ici pour afficher le slug de la recette dans l'onglet #}
{% block title "Recette: " ~ recipe.slug %}

{% block body %}

<h1>{{ recipe.title }}</h1>

<p>
    {{ recipe.content | nl2br}}
</p>

<strong>Temps de la recette :  {{ recipe.duration }} min</strong>


{% endblock %}
