{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}

<h1>Nos recettes</h1>

<div class="mt-5">
    {% for recipe in recipes %}

    <tr>
        <td>
            <div class="d-flex gap-1 small-width mt-3">
                <a href="{{ path('recipe.detail', {'slug': recipe.slug}) }}">{{ recipe.title | nl2br }}</a>
            </div>
        </td>
    </tr>

    {% endfor %}
</div>

    <td>
        <h5 class="mt-5">Temps total des recettes : {{ recipeTotalDuration[0].total }} min</h5>
    </td>

{% endblock %}
