{% extends 'admin/admin.html.twig' %}

{% block title "Créer une nouvelle catégorie" %}

{% block body %}

    <h1>Créer une nouvelle catégorie</h1>

    {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.name) }}
            {{ form_row(form.slug) }}
        </div>
    {{ form_end(form) }}


{% endblock %}
